@import 'wsk/main';

#wrapper {
  display: table;
  width: 100%;
  min-width: 1000px;
  min-height: 400px;
}
#sidebar {
  display: table-cell;
  background: #DDF;
  width: 200px;
}
#content {
  display: table-cell;
  background: #EEE;
}
