<div id="menuDiv">
<ul class="nav">
    <li><a href="#">Admin</a>
        <ul>
            <li>{{#link-to 'admin.user'}}User{{/link-to}}</li>
            <li>{{#link-to 'admin.role'}}Role{{/link-to}}</li>
            <li>{{#link-to 'admin.group'}}Group{{/link-to}}</li>
        </ul>
    </li>
    <li><a href="#">2. Menu</a>
            <ul>
                <li><a href="#">2.1 Submenu</a></li>
                <li><a href="#">2.2 Submenu</a></li>
            </ul>
    </li>
    <li><a href="#">3. Menu</a>
            <ul>
                <li><a href="#">3.1 Submenu</a></li>
                <li><a href="#">3.2 Submenu</a></li>
                <li><a href="#">3.3 Submenu</a></li>
            </ul>
    </li>

</ul>
</div>
