<form name="userForm" class="form-horizontal" novalidate>
    <div class="form-group" >
        <label for="username" class="col-lg-2 control-label">Username</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="username" id="username"  placeholder="Username" required />
        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-lg-2 control-label">First Name</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required />
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-lg-2 control-label">Last Name</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required />
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-4">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-4">
            <button type="submit" class="btn btn-default">Save</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </div>
    </div>
</form>

