<header class="app-bar">
  <button class="menu"><img src="./hamburger.png"></button>
  <h3 class="logo">Logo</h3>
  <section class="app-bar-actions">
    <h3>User</h3>
    <button><img src="./images/search.png"></button>
  </section>
</header>
<nav class="navdrawer-container">
  <ul>
    <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Other</a></li>
  </ul>
</nav>

<div id="wrapper">
  <div id="sidebar">
  <ul class="nav" id="menu1">
      <li><a href="#">1. Menu</a>
          <ul>
              <li><a href="#">1.1 Submenu</a></li>
              <li><a href="#">1.2 Submenu</a></li>
              <li><a href="#">1.3 Submenu</a></li>
          </ul>
      </li>
      <li><a href="#">2. Menu</a>
              <ul>
                  <li><a href="#">2.1 Submenu</a></li>
                  <li><a href="#">2.2 Submenu</a></li>
              </ul>
      </li>
      <li><a href="#">3. Menu</a>
              <ul>
                  <li><a href="#">3.1 Submenu</a></li>
                  <li><a href="#">3.2 Submenu</a></li>
                  <li><a href="#">3.3 Submenu</a></li>
                  <li><a href="#">3.4 Submenu</a></li>
                  <li><a href="#">3.5 Submenu</a></li>
              </ul>
      </li>

  </ul>
    {{app-menu}}
  </div>
  <div id="content">App {{outlet}}</div>
  <div class="clear"></div>
</div>



