<header class="app-bar">
  <button class="menu"><img src="./hamburger.png"></button>
  <h3 class="logo">Logo</h3>
  <section class="app-bar-actions">
    <h3>User</h3>
    <button><img src="./images/search.png"></button>
  </section>
</header>

<div id="wrapper">
  <div id="sidebar">
  {{app-menu}}
  </div>
  <div id="content">{{outlet}}</div>
  <div class="clear"></div>
</div>



